<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wemos.smartwatch" version="4.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Wemos Pro</name>
    <description>Wemos D1 Smartwatch dengan Alarm &amp; Monitoring</description>
    <author email="support@wemos.com" href="https://wemos.com">Wemos Team</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <!-- Target SDK 34 -->
        <preference name="android-targetSdkVersion" value="34" />
        <preference name="android-compileSdkVersion" value="34" />
        <preference name="android-buildToolsVersion" value="34.0.0" />
        <!-- Izin penting untuk alarm & overlay -->
        <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
        <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
        <uses-permission android:name="android.permission.VIBRATE" />
        <uses-permission android:name="android.permission.WAKE_LOCK" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
        <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
        <!-- Aktifkan fitur tampilan di atas layar kunci -->
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application/activity">
            <activity android:name="MainActivity" 
                      android:showWhenLocked="true" 
                      android:turnScreenOn="true" 
                      android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode"
                      android:launchMode="singleTop"
                      android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
                      android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
        </edit-config>
        <!-- Ikon dan splash (opsional) -->
        <icon src="res/icon.png" />
    </platform>
    <!-- Plugin yang dibutuhkan -->
    <plugin name="cordova-plugin-background-mode" spec="^0.7.4" />
    <plugin name="cordova-plugin-local-notification" spec="^0.9.0-beta.4" />
    <plugin name="cordova-plugin-insomnia" spec="^4.0.1" />
    <plugin name="cordova-plugin-vibration" spec="^3.1.1" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.0.2" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.4" />
    <plugin name="cordova-plugin-device" spec="^2.1.0" />
    <!-- Pengaturan lain -->
    <preference name="BackgroundMode" value="true" />
    <preference name="Fullscreen" value="false" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/icon.png" />
    <preference name="AndroidWindowSplashScreenBackground" value="#0d0b1a" />
</widget>
